Lab0/in.txt
Lab0/input2.txt
Lab0/out1.txt
Lab0/out2.txt
Lab0/out3.txt
Lab1P2/multiplier.vec
Lab1P2/multiplexier6bit.out
Lab1P2/multiplexier_DFF.out
Lab1P2/multiplier_golden_result.vec
Lab1P2/multiplier_selected.vec
Lab1P2/vecfile.vec
Lab2/bank.vec
Lab2/sram_yuqian.vec
Lab2/sram_9876543210.vec
Lab2/sram_9876543210 (1).vec
Lab2/sram_sequential.vec
Lab2/sram_sequential123.vec
Lab2/sram_yuqian_10241bit.vec
Lab2/sram_yuqian_bank.vec
Lab2/sram_yuqian_columntest.vec
Lab2/sram_yuqian_low - Copy.vec
Lab1P2/fulladder.out
Lab1P2/full_adder_1_bit.vec
FinalPhase1/RF_CELL.vec
.vscode/test.c
.vscode/test.exe
.gitignore
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
.gitignore
FinalPhase1/phase1_test0.vec
FinalPhase1/phase1_test.vec
FinalPhase1/sram512.bit.vec
FinalPhase1/compilelog.txt
FinalPhase1/assemblycode.txt
FinalPhase1/__pycache__/VEC_GEN.cpython-37.pyc
FinalPhase1/__pycache__/Compile_log.cpython-37.pyc
FinalPhase1/machinecode.txt
FinalPhase1/RF_TEST1bit.vec
FinalPhase1/RF_TEST.vec
.gitignore
